@model BrowserHistory.Models.Person
@{
    ViewBag.Title = "Result";
}

<div>
    <label>Result</label>
    <input type="text" name="child_result" value="@Model.FirstName" readonly="readonly" />
</div>
<div>
    <label>Another field</label>
    <input type="text" name="child_another_field" />
</div>

