@model BrowserHistory.Models.Person
@{
    ViewBag.Title = "Start";
}

<h2>Start</h2>

@using (Html.BeginForm("Create", "Child", FormMethod.Post, null))
{
    @Html.TextBoxFor(x => x.FirstName)
    @Html.TextBoxFor(x => x.DateOfBirth, @"{0:yyyy-MM-dd}", new { @type="date" })
    @Html.ValidationMessageFor(x => x.DateOfBirth)
    <input type="submit" name="child_submit" value="Save" />
}