
@{
    ViewBag.Title = "Start";
}

<h2>Start</h2>

@using (Html.BeginForm("Create", "Child", FormMethod.Post, null))
{
    <input id="firstName" type="text" name="firstName" />
    <input type="submit" name="child_submit" value="Save" />
}